<%- include('includes/header'); %>
    
    <main class="loginAuth">
        <img src="img/logo.png" alt="logo">
        <section class="enter">
            <div class="box">
                <form action="" method="POST">
                    <input type="email" required name="email" placeholder="Digite seu email">
                    <input type="password" required name="senha" placeholder="Senha">
                    <input type="submit" value="Entrar">
                </form>
                <a href="#">Esquececu a senha ?</a>
            </div>
            <a href="#" class="createNewAccount">Criar nova conta</a>
        </section>  
    </main>

<%- include('includes/footer'); %>